body {
    background-color: #1A1A1A;
    color: white;

    height: 5000px;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/*                         header                       */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
header {
    width: 100%; height: 60px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 140px;
    justify-content: flex-start;
    padding-top: 12.5px;
    position: fixed;
    transition: 0.1s;
}
header.active {
    height: 380px;
}

.header-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.header-left {
    display: flex;
    gap: 60px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 40px;
}
header nav.active {
    display: none;
}

header a {
    color: white;
    font-size: 20px;
}

.header-search {
    display: none;
}
.header-search.active {
    width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.header-search-box {
    width: 380px; height: 40px;
    border-bottom: 1px solid white;
}
.header-search-box p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.5);
}
.header-search > div:nth-of-type(1)::after {
    content: url(../image/ic_search.svg);
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.header-search div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-icon {
    width: 35px; height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icon.active {
    border: 0;
}



/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/*                         footer                       */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
footer {
    width: 100%; height: 260px;
    background: linear-gradient(rgba(126, 30, 30, 0), rgba(126, 30, 30));
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}
.footer-box {
    margin: 20px;
    
}
.footer-text {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer-text div {
    display: flex;
    gap: 20px
}

.contour::after {
    content: '│';
    padding: 0 10px;
}