@import url(../reset.css);
@import url(../common.css);

.search-section {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 30px 0 100px 0;
    align-items: flex-start;
}

.back-img {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../image/img-back.jpg) center center / cover no-repeat;
    width: 100%;
    height: 185px;
}

.side-menu {
    width: 263px;
    background-color: #222222;
    border-radius: 12px;
    border-right: 1px solid rgba(255,255,255,0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.side-menu small {
    padding: 0 12px;
}

.side-menu .spread {
    display: inline-block;
    width: 100%;
    background-color: #FF3535;
    font-size: 14px;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-menu .spread span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.see .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
}
.see .icons a {
    width: 38px; height: 38px;
}
.see .icons .netflix {
    background: url(../../image/ic_netflix.svg);
}
.see .icons .appleTV {
    background: url(../../image/ic_appleTV.svg);
}
.see .icons .tving {
    background: url(../../image/ic_tving.svg);
}
.see .icons .wavve {
    background: url(../../image/ic_wavve.svg);
}
.see .icons .disneyplus {
    background: url(../../image/ic_disneyplus.svg);
}

.genre-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 12px;
}
.genre-btn a {
    display: inline-block;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
    background-color: #353535;
    padding: 6px 15px;
    border-radius: 99px;
}
.genre-btn a.active {
    color: rgba(255, 255, 255, 0.8);
    border: 2px solid #FF3535;
}

.side-menu .lineOkbtn {
    width: 100%;
}
.side-menu .line {
    width: 100%; height: 1px;
    background-color: #353535;
    margin-bottom: 20px;
}

.side-menu .okbtn {
    display: inline-block;
    width: 100%;
    background-color: #FF3535;
    font-size: 14px;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
}

.curation {
    width: 1397px;
}

.sort-tab {
    border-bottom: 1px solid #353535;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}
.sort-tab h2 {}
.sort-tab div {
    display: flex;
}
.sort-tab img {
    padding: 0 5px;
}
.sort-tab a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #959595;
}
.sort-tab a.active {
    color: white;

}
.sort-tab a::before {
    content: '';
    width: 10px; height: 10px;
    margin: 0 5px;
    background: url(../../image/ic_point.svg) center center / cover no-repeat;
}
.sort-tab a.active::before {
    background: url(../../image/ic_check.svg) center center / cover no-repeat;
}

.objs .list {
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.objs figure p {
    width: 182.43px;
}

.objs img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.objs-txt p:nth-of-type(1) {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.objs-txt p:nth-of-type(2)::before {
    content: '★';
}

.objs .more {
    width: 100%; height: 40px;
    background-color: #FF3535;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.objs .more::before {
    content: '';
    width: 20px; height: 20px;
    margin: 0 5px;
    background: url(../../image/ic_down.svg) center center / cover no-repeat;
}